body{
    background: #edcab9;
    color:white;

}

.this{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    cursor: pointer;

}

.this .sq{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 60px;
    height: 60px;
    background-color: #1a4371;
}

.this .s1{
    display: inline-block;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 50px solid #1a4371;
    position: absolute;
    left: 50px;
    top: 0;
    transform: translateY(-10px);
    transform-origin: 50% 100%;
    transition: all 1s ease-out;
}




.this .s2{
    display: inline-block;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid #1a4371;
    border-bottom: 0 solid transparent;

   



    position: absolute;
    left: 50px;
    bottom: 0;
    transform: translateY(10px);
    transform-origin: 50% 0;
    transition: all 1s ease-out;
}


.this .s3{
    display: inline-block;
    border-left: 0 solid transparent;
    border-right: 50px solid #1a4371;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 0;
    top: 50px;
    transform: translateX(-10px);
    transform-origin: 50% 100%;
    transition: all 1s ease-out;
}


.this .s4{
    display: inline-block;
    border-left: 50px solid #1a4371;
    border-right: 0 solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    right: 0;
    top: 50px;
    transform: translateX(10px);
    transform-origin: 0 50%;
    transition: all 1s ease-out;
}

.this .text{
    font-size: 1rem;
    letter-spacing: 4px;
    position: absolute;
    bottom: -50px;
    left: 50px;
    text-align: center;
    color: white;

}